.layout {
    width: 100%;
  
    display: grid;
    grid:
      "sidebar body" 1fr
      / 0.25fr 1fr;
    gap: 8px;
  }
  
  .sidebar {
     grid-area: sidebar;
     position: fixed;
    }
  .body { grid-area: body; }