.layout {
  width: 100%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 0.16fr 1fr;
  gap: 8px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.sidebar {
  grid-area: sidebar;
  position: fixed; /* Use position-fixed instead of position-sticky */
  top: 0; /* Set the sidebar to stick at the top of the viewport */
  z-index: 100; /* Add a higher z-index to ensure the sidebar is above other content */
  overflow: hidden;
}

.sidebar-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.body {
  grid-area: body;
}
