.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / 0.16fr 1fr;
  gap: 8px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.sidebar-text {
  text-overflow: ellipsis; /* Add ellipsis (...) at the end of the text if it overflows */
  overflow: hidden; /* Hide overflow */
}

.body { grid-area: body; }