{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="container position-relative mx-auto p-4">
<form action="{{ url_for('login') }}" method='POST' name="myform">

    {{form.hidden_tag()}}
    {{ form.username.label }} {{ form.username(size=20,type = "username") }}
    {{ form.password.label }} {{ form.password(size=20,type = "password") }}
    <p>
    {{form.submit()}}
    </p>
</form>
<a href="{{ url_for('signup') }}" class="rounded">Sign Up</a>
</div>
{% endblock %}